@import "node_modules/fonts.pr.link/_style.scss";
@import "_reset.scss";

html {
  background: black;
  font-family: InterWeb;
}

header {
  width: 100%;
  height: 50%;
  background: url(/static/geishaboy/img/background.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.marquee {
  font-family: TrashWeb;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.5;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  &.header {
    position: absolute;
    bottom: 0;
    color: hsl(30, 100%, 91%);
    transform: translateY(50%);
    z-index: 1;
  }

  &.footer {
    color: hsl(29, 17%, 34%);
    background: hsl(30, 100%, 91%);
    font-size: 30px;
  }

  &.credit {
    background: hsl(264, 82%, 63%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
  }

  ul {
    position: relative;
    white-space: nowrap;

    li {
      display: inline-block;
      white-space: pre;
      /* Vertically center uppercase text */
      margin-top: 0.2em;
    }
  }
}

@media (max-width: 700px) {
  .marquee {
    font-size: 30px;
  }
}

main {
  position: relative;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 50px 20px;
  justify-content: center;
}

@media (max-width: 700px) {
  main {
    padding: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
  }
}

.effect-img {
  background-image: url(/static/geishaboy/img/particle_spritesheet.jpg);
  padding-bottom: 100%;
  background-size: auto 100%;

  @at-root .geisha.missing #{&} {
    filter: grayscale(1);
    opacity: .4;
  }
}

// Particle spritesheet positions
.id6 { background-position-x: calc(-100% * 0); }
.id7 { background-position-x: calc(-100% * 1); }
.id8 { background-position-x: calc(-100% * 2); }
.id9 { background-position-x: calc(-100% * 3); }
.id10 { background-position-x: calc(-100% * 4); }
.id11 { background-position-x: calc(-100% * 5); }
.id12 { background-position-x: calc(-100% * 6); }
.id13 { background-position-x: calc(-100% * 7); }
.id14 { background-position-x: calc(-100% * 8); }
.id15 { background-position-x: calc(-100% * 9); }
.id16 { background-position-x: calc(-100% * 10); }
.id17 { background-position-x: calc(-100% * 11); }
.id18 { background-position-x: calc(-100% * 12); }
.id19 { background-position-x: calc(-100% * 13); }
.id29 { background-position-x: calc(-100% * 14); }
.id30 { background-position-x: calc(-100% * 15); }
.id31 { background-position-x: calc(-100% * 16); }
.id32 { background-position-x: calc(-100% * 17); }
.id33 { background-position-x: calc(-100% * 18); }
.id34 { background-position-x: calc(-100% * 19); }
.id35 { background-position-x: calc(-100% * 20); }
.id36 { background-position-x: calc(-100% * 21); }
.id37 { background-position-x: calc(-100% * 22); }
.id38 { background-position-x: calc(-100% * 23); }
.id39 { background-position-x: calc(-100% * 24); }
.id40 { background-position-x: calc(-100% * 25); }
.id43 { background-position-x: calc(-100% * 26); }
.id44 { background-position-x: calc(-100% * 27); }
.id45 { background-position-x: calc(-100% * 28); }
.id46 { background-position-x: calc(-100% * 29); }
.id47 { background-position-x: calc(-100% * 30); }
.id56 { background-position-x: calc(-100% * 31); }
.id57 { background-position-x: calc(-100% * 32); }
.id58 { background-position-x: calc(-100% * 33); }
.id59 { background-position-x: calc(-100% * 34); }
.id60 { background-position-x: calc(-100% * 35); }
.id61 { background-position-x: calc(-100% * 36); }
.id62 { background-position-x: calc(-100% * 37); }
.id63 { background-position-x: calc(-100% * 38); }
.id64 { background-position-x: calc(-100% * 39); }
.id65 { background-position-x: calc(-100% * 40); }
.id66 { background-position-x: calc(-100% * 41); }
.id67 { background-position-x: calc(-100% * 42); }
.id68 { background-position-x: calc(-100% * 43); }
.id69 { background-position-x: calc(-100% * 44); }
.id70 { background-position-x: calc(-100% * 45); }
.id71 { background-position-x: calc(-100% * 46); }
.id72 { background-position-x: calc(-100% * 47); }
.id73 { background-position-x: calc(-100% * 48); }
.id74 { background-position-x: calc(-100% * 49); }
.id75 { background-position-x: calc(-100% * 50); }
.id76 { background-position-x: calc(-100% * 51); }
.id77 { background-position-x: calc(-100% * 52); }
.id78 { background-position-x: calc(-100% * 53); }
.id79 { background-position-x: calc(-100% * 54); }
.id80 { background-position-x: calc(-100% * 55); }
.id81 { background-position-x: calc(-100% * 56); }
.id82 { background-position-x: calc(-100% * 57); }
.id83 { background-position-x: calc(-100% * 58); }
.id84 { background-position-x: calc(-100% * 59); }
.id85 { background-position-x: calc(-100% * 60); }
.id86 { background-position-x: calc(-100% * 61); }
.id87 { background-position-x: calc(-100% * 62); }
.id88 { background-position-x: calc(-100% * 63); }
.id89 { background-position-x: calc(-100% * 64); }
.id90 { background-position-x: calc(-100% * 65); }
.id107 { background-position-x: calc(-100% * 66); }
.id108 { background-position-x: calc(-100% * 67); }
.id109 { background-position-x: calc(-100% * 68); }
.id110 { background-position-x: calc(-100% * 69); }

.effect-meta {
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  padding-top: 1rem;
  font-size: 14px;
}

.effect-name {
  position: relative;
  font-family: TrashWeb;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  display: block;
  color: hsl(30, 100%, 91%);

  @at-root .geisha.missing #{&} {
    color: hsla(30, 100%, 91%, 0.35);

    &::before {
      content: "MISSING";
      position: absolute;
      left: 0;
      top: 0;
      color: #ff2300;
      transform: rotate(-5deg);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.effect-info {
  list-style: none;
  margin-top: 6px;

  li {
    display: inline-block;
    color: hsl(38, 8%, 38%);
    background: hsl(30, 4%, 11%);
    letter-spacing: .02em;
    font-size: 12px;
    line-height: 1;
    padding: 3px 6px;
    border-radius: 3px;
    margin: 0 5px;
  }

  .effect-duped{
    background: hsl(13, 78%, 11%);
    color: hsl(11, 35%, 39%);
  }
}