@import "node_modules/fonts.pr.link/_style.scss";
@import "_reset.scss";

// TF2 Item Quality Colors
$tf2_item_qualities: (
  unique: #FFD700,
  genuine: #4D7455,
  unusual: #8650AC,
  collectors: #AA0000,
  selfmade: #70B04A
);

@each $quality, $color in $tf2_item_qualities {
  .color-#{$quality} {
    color: $color;
  }
}

// Colors
$background-color: black;
$text-color: hsl(30, 100%, 91%);
$attention-color: hsl(8, 100%, 50%);
$text-gray: hsl(38, 8%, 38%);
$background-gray: hsl(30, 4%, 11%);
$text-red: hsl(10, 35%, 39%);
$background-red: hsl(14, 79%, 11%);

// Text Styles
.regular {
  font-weight: normal;
}

// Media Queries
$mobile_breakpoint: 700px;

@mixin only_mobile {
  @media(max-width: $mobile_breakpoint) {
    @content;
  }
}

@mixin only_desktop {
  @media(min-width: $mobile_breakpoint) {
    @content;
  }
}

.only_desktop {
  @include only_mobile {
    display: none;
  }
}

.only_mobile {
  @include only_desktop {
    display: none;
  }
}

// Font Sizes
$fontsize-base: 12px;
$fontsize-content: 1.125rem;
$fontsize-subhead-mobile: 1.266rem;
$fontsize-subhead: 2.281rem;
$fontsize-head: 5.202rem;

// Html
html {
  background: $background-color;
  font-size: $fontsize-base;
  font-family: InterWeb;
  line-height: 1;
}

// Header
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .background {
    width: 100%;
    height: 40vh;
    background: url(/static/geishaboy/img/header3.jpg);
    background-size: cover;
    background-position: center;

    @include only_mobile {
      background: url(/static/geishaboy/img/footer_mobile.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}

h1 {
  font-family: TrashWeb;
  color: $text-color;
  text-align: center;
  margin-top: -.5em;
  line-height: 1.05;
  text-shadow: 0 -0.1em 2rem $background-color;

  @include only_desktop {
    font-size: $fontsize-head;
    width: 85rem;
  }

  @include only_mobile {
    font-size: $fontsize-subhead;
    padding: 0 2rem;
  }

  a {
    text-decoration: underline;
  }
}

h2 {
  color: rgba($text-color, .5);
  text-align: center;
  font-weight: normal;
  font-family: TrashWeb;

  @include only_desktop {
    width: 85rem;
    font-size: $fontsize-subhead;
    line-height: 1.6;
    margin-top: 2rem;
  }

  @include only_mobile {
    font-size: $fontsize-subhead-mobile;
    line-height: 1.3;
    margin-top: 1em;
    padding: 0 2rem;
  }

  span {
    white-space: nowrap;
    font-weight: bold;

    @include only_desktop {
      text-transform: uppercase;
    }
  }
}

// Collection
main {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 50px 20px;
  justify-content: center;

  @include only_mobile {
    padding: 30px 20px 50px 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
  }
}

.effect-img {
  background-image: url(/static/geishaboy/img/particle_spritesheet.jpg);
  padding-bottom: 100%;
  background-size: auto 100%;

  @at-root .geisha.missing #{&} {
    filter: grayscale(1);
    opacity: .4;
  }
}

// Particle Spritesheet Positions
$spritex: (  6,  0), (  7,  1), (  8,  2), (  9,  3), ( 10,  4), ( 11,  5), ( 12,  6),
          ( 13,  7), ( 14,  8), ( 15,  9), ( 16, 10), ( 17, 11), ( 18, 12), ( 19, 13),
          ( 29, 14), ( 30, 15), ( 31, 16), ( 32, 17), ( 33, 18), ( 34, 19), ( 35, 20),
          ( 36, 21), ( 37, 22), ( 38, 23), ( 39, 24), ( 40, 25), ( 43, 26), ( 44, 27),
          ( 45, 28), ( 46, 29), ( 47, 30), ( 56, 31), ( 57, 32), ( 58, 33), ( 59, 34),
          ( 60, 35), ( 61, 36), ( 62, 37), ( 63, 38), ( 64, 39), ( 65, 40), ( 66, 41),
          ( 67, 42), ( 68, 43), ( 69, 44), ( 70, 45), ( 71, 46), ( 72, 47), ( 73, 48),
          ( 74, 49), ( 75, 50), ( 76, 51), ( 77, 52), ( 78, 53), ( 79, 54), ( 80, 55),
          ( 81, 56), ( 82, 57), ( 83, 58), ( 84, 59), ( 85, 60), ( 86, 61), ( 87, 62),
          ( 88, 63), ( 89, 64), ( 90, 65), (107, 66), (108, 67), (109, 68), (110, 69);

@each $id, $idx in $spritex {
  .id#{$id} {
    background-position-x: calc(-100% * #{$idx});
  }
}

.effect-meta {
  text-align: center;
  white-space: pre-wrap;
  padding-top: 1rem;
}

.effect-name {
  font-size: $fontsize-content;
  position: relative;
  font-family: TrashWeb;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: $text-color;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1em 0;
  margin: -1em 0;

  @at-root .geisha.missing #{&} {
    color: rgba($text-color, .35);

    &::before {
      content: "BUYING";
      position: absolute;
      left: 0;
      top: 0;
      color: $attention-color;
      transform: rotate(-5deg);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.effect-info {
  margin-top: .5rem;
  display: flex;
  justify-content: center;

  li {
    color: $text-gray;
    background: $background-gray;
    letter-spacing: .02em;
    padding: 0.35rem .7rem;
    border-radius: 3px;
    margin: 0 .3rem;
  }

  .effect-status {
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .effect-duped {
    background: $background-red;
    color: $text-red;
  }
}

// Footer
footer {
  padding-bottom: 50px;
  color: #666;
  font-weight: bold;
  font-size: 1.125rem;

  @include only_desktop {
    .full_list {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include only_mobile {
    padding-top: 20px;
    display: grid;
    grid-gap: 0.8em;
    text-align: center;
  }

  .logos {
    a {
      display: inline-flex;
      padding: 0 .5em;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    @include only_desktop {
      padding: 0 1.5em;
    }

    @include only_mobile {
      padding: .3em 0;
    }
  }

  img {
    height: 1.2em;
    position: relative;

    &.only_desktop {
      margin-right: 0.6em;
    }
  }
}