aside.interface {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: $body-padding;
  display: grid;
  grid-template-columns: $icon-size 1fr $content-width 1fr $icon-size;
  grid-template-rows: $icon-size 1fr $icon-size;
  pointer-events: none;
  z-index: 9;
  user-select: none;
  -webkit-user-select: none;

  & > * {
    pointer-events: all;
  }

  html.zen-mode & {
    opacity: .1;
  }
}

.icon {
  cursor: pointer;
}

.fontsize-picker {
  grid-column: 1/2;
  grid-row: 1/2;

  .icon {
    width: $icon-size;
    height: $icon-size;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    line-height: 0;

    span {
      pointer-events: none;
    }

    @include theme((
      "background": "font",
      "color": "area"
    ));

    &.label {
      margin: 1em 0;
      cursor: default;
      background: none !important;

      @include theme(("color": "font"));
    }
  }
}

.shortcuts {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;

  @include theme((
    "background": "area",
    "box-shadow": ("0 0 30px 20px ", "area")
  ));

  li {
    display: inline-flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 30px;
    }

    .key {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      letter-spacing: .05em;
      display: inline-block;
      padding: 4px 10px;
      border-radius: 3px;
      margin-right: 10px;

      @include theme((
        "background": "font",
        "color": "area"
      ));
    }
  }
}

.language-picker {
  position: relative;

  grid-column: 5/6;
  grid-row: 1/2;

  .icon {
    display: inline-block;
    position: relative;
    width: $icon-size;
    height: $icon-size;

    .back, .front {
      position: absolute;
      width: $icon-size / 1.6;
      height: $icon-size / 1.6;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      border-radius: 3px;
    }

    .back {
      top: 0;
      left: 0;
      opacity: .3;
    }

    .front {
      right: 0;
      bottom: 0;
    }

    .back, .front {
      @include theme((
        "background": "font",
        "color": "area"
      ));
    }
  }
}

$languages-module-width: 200px;

.languages {
  top: $icon-size * 2;
  right: -($languages-module-width + $body-padding);
  width: $languages-module-width;
  position: absolute;
  border-radius: 2px;
  list-style: none;
  transition: right 250ms ease-out;

  &.open {
    right: 0;
  }

  & li {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    input {
      display: none;

      &:checked + label {
        left: 0;
        border-radius: 100px;

        @include theme((
          "background": "font",
          "color": "area"
        ));

        &::before {
          @include theme((
            "background": "area-light",
            "color": "font"
          ));
        }
      }
    }

    label {
      left: $body-padding;
      position: relative;
      padding: .7em 1em;
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: all 250ms ease-out;

      @include theme((
        "background": "area-light",
        "color": "font"
      ));

      &::before {
        content: attr(data-langcode);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        letter-spacing: .05em;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 3px;
        margin-right: 1em;

        @include theme((
          "background": "area",
          "color": "font"
        ));
      }

      &::after {
        content: attr(data-lang);
      }
    }
  }
}

.theme-picker {
  grid-column: 1/2;
  grid-row: 3/4;
  position: relative;

  ul {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;

    li {
      width: $icon-size;
      height: $icon-size;
      border-radius: $icon-size / 2;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      @include theme((
        "background": "area"
      ), &, false);
    }
  }
}
