@import "node_modules/fonts.pr.link/_style.scss";
@import "_reset.scss";

html {
  background: black;
  font-family: InterWeb;
}

header {
  width: 100%;
  height: 50%;
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.marquee {
  font-family: TrashWeb;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.5;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  &.header {
    position: absolute;
    bottom: 0;
    color: hsl(30, 100%, 91%);
    transform: translateY(50%);
    z-index: 1;
  }

  &.footer {
    color: hsl(29, 17%, 34%);
    background: hsl(30, 100%, 91%);
    font-size: 30px;
  }

  &.credit {
    background: hsl(264, 82%, 63%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
  }

  ul {
    position: relative;
    white-space: nowrap;

    li {
      display: inline-block;
      white-space: pre;
      /* Vertically center uppercase text */
      margin-top: 0.2em;
    }
  }
}

@media (max-width: 700px) {
  .marquee {
    font-size: 30px;
  }
}

main {
  position: relative;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 50px 20px;
  justify-content: center;
}

@media (max-width: 700px) {
  main {
    padding: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
  }
}

.effect-img {
  width: 100%;

  @at-root .geisha.missing #{&} {
    filter: grayscale(.7);
    opacity: .2;
  }
}

.effect-meta {
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  padding-top: 1rem;
  font-size: 14px;
}

.effect-name {
  font-family: TrashWeb;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  display: block;
  color: hsl(30, 100%, 91%);

  @at-root .geisha.missing #{&} {
    color: hsl(38, 8%, 38%);
    text-decoration: line-through;
    text-decoration-color: #f00;
    text-decoration-style: wavy;
  }
}

.effect-info {
  list-style: none;
  margin-top: 6px;

  li {
    display: inline-block;
    color: hsl(38, 8%, 38%);
    background: hsl(30, 4%, 11%);
    letter-spacing: .02em;
    font-size: 12px;
    line-height: 1;
    padding: 3px 6px;
    border-radius: 3px;
    margin: 0 5px;
  }

  .effect-status {
    @at-root .geisha.missing #{&} {
      background: none;
      box-shadow: inset 0 0 0 1px hsl(30, 5%, 16%);
    }

    @at-root .geisha.collected #{&} {
      &::before {
        content: "#";
      }
    }
  }

  .effect-duped {
    background: hsl(13, 78%, 11%);
    color: hsl(11, 35%, 39%);
  }
}