.articles {
  position: fixed;
  top: $icon-size * 5;
  right: 0;
  left: 0;

  &.hidden {
    opacity: 0;
  }

  article {
    display: grid;
    grid-template-columns: 1fr $content-width 1fr;

    &:nth-child(even) {
      .thumbnail-wrapper {
        grid-column: 3/4;
      }
    }

    &:nth-child(odd) {
      .thumbnail-wrapper {
        grid-column: 1/2;
      }
    }

    &.active_article {
      .thumbnail-wrapper {
        .thumbnail-sticky-box {
          position: absolute;
          height: 100vh;
        }

       .thumbnail {
          position: sticky;
          top: $body-padding * 2 + $icon-size;
        }
      }

      .active-token {
        @include theme(("color": "foreground-dimmed"));

        .progress-token {
          @include theme((
            "color": "foreground-reverse",
            "background": "background-reverse"
          ));
        }
      }
    }

    &:not(.active_article) {
      opacity: .3;
      filter: blur(.2em);

      html.zen-mode & {
        opacity: 0;
      }
    }

  }

  .thumbnail-wrapper {
    position: relative;
    grid-row: 1;

    .thumbnail-sticky-box {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }

    .thumbnail {
      opacity: 1;
      transition: opacity 350ms ease-out;
      max-width: 200px;

      &.loading {
        opacity: 0;
      }
    }
  }

  .content {
      grid-column: 2/3;
      grid-row: 1;

      &::after {
        content: "";
        display: block;
        height: 10rem;
      }
  }

  header {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding: 1em 0 3em;
    font-size: 1rem;

    @at-root article.active_article header {
      position: sticky;
      position: -webkit-sticky;
      top: $body-padding * 2 + $icon-size;
      z-index: 943;
    }

    @include theme(("border-top-color": "background-light"));
  }

  h1 {
    position: relative;
    font-size: inherit;

    &::before {
      content: "";
      height: 1px;
      width: 100%;
      left: 0;
      position: absolute;
      top: calc(-1em - 1px);

      @include theme(("background": "background-reverse"));
    }

    &::after {
      content: "  —  " attr(data-language);
      white-space: pre;
      font-weight: normal;
    }
  }

  .word-count {
    @include theme(("color": "foreground-light"));

    &::after {
      content: " Word(s)";
    }
  }

  .extract {
    line-height: 1.5;
    font-feature-settings: "ss01", "ss02", "case", "cv10", "cv11";
    white-space: pre-wrap;

    p:not(:last-child) {
      margin-bottom: 1em;
    }

    .token {
      display: inline-block;
      position: relative;
    }

    .token::before {
      content: attr(data-word);
    }

    .typed-token {
      position: relative;

      @include theme(("color": "foreground-dimmed"));
    }

    .active-token .progress-token {
      position: absolute;
      right: 0;
      z-index: 943;

      &::before {
        content: attr(data-upcoming);
      }

      &::after {
        content: attr(data-mistyped);
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        white-space: pre;

        @include theme((
          "color": "foreground-error",
          "background": "background-error"
        ));
      }
    }
  }
}
