.shortcuts {
  position: absolute;
  left: 0;
  top: 0;
  height: $icon-size * 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 943;

  html.zen-mode &,
  &.hidden {
    opacity: 0;
  }

  li {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    @media (max-width: 1400px) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    .keys {
      margin-right: 10px;
      font-weight: bold;
      font-size: 12px;

      @media (max-width: 1400px) {
        margin: 0 0 .5em 0;
      }

      kbd {
        font-family: InterWeb;
        letter-spacing: .05em;
        padding: 2px 5px;
        border-radius: 3px;
        display: inline-block;

        @include theme((
          "background": "background-reverse",
          "color": "foreground-reverse"
        ));

        &:not(:last-child) {
          margin-right: 2px;
        }
      }
    }
  }
}

.language-picker {
  position: absolute;
  left: 50%;
  top: $icon-size * 5;
  width: $content-width;
  margin-left: -#{$content-width / 2};
  overflow: hidden;

  &.hidden {
    display: none;
  }

  input[type="text"] {
    width: 100%;
    height: $icon-size * 1.5;
    border: 0;
    padding: 0 #{$icon-size / 1.5};
    display: flex;
    font-size: inherit;
    border-radius: $icon-size;
    background: #fff;
    outline: 0;

    @include theme((
      "background": "background-reverse",
      "color": "foreground-reverse"
    ));
  }

  .languages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: $icon-size * 1.5;
    grid-gap: #{$icon-size / 1.5};
    padding: 0 #{$icon-size / 1.5};

    li {
      display: inline-flex;
      align-items: center;
      white-space: nowrap;

      input {
        display: none;

        &:checked + label {
          opacity: 1;
        }
      }

      label {
        opacity: .3;

        &::before {
          content: attr(data-langcode);
          text-transform: uppercase;
          margin-right: 10px;
          font-weight: bold;
          font-size: 12px;
          letter-spacing: .05em;
          padding: 2px 5px;
          border-radius: 3px;
          display: inline-block;

          @include theme((
            "background": "background-reverse",
            "color": "foreground-reverse"
          ));
        }

        &::after {
          content: attr(data-langname);

          @include theme((
            "color": "foreground"
          ));
        }
      }
    }
  }
}