$colors: (

  "light": (
    "background-error": hsl(0, 100%, 59%),
    "background": white,
    "background-light": hsl(0, 0%, 90%),

    "foreground-error": hsl(0, 100%, 98%),
    "foreground-dimmed": hsl(0, 0%, 97%),
    "foreground-light": hsl(0, 0%, 90%),
    "foreground": black,

    "background-reverse": black,
    "foreground-reverse": white
  ),

  "dark": (
    "background-error": hsl(0, 76%, 57%),
    "background": black,
    "background-light": hsl(0, 0%, 15%),

    "foreground-error": hsl(0, 100%, 94%),
    "foreground-dimmed": hsl(0, 0%, 5%),
    "foreground-light": hsl(0, 0%, 50%),
    "foreground": white,

    "background-reverse": white,
    "foreground-reverse": black
  ),

  "sepia": (
    "background-error": hsl(0, 100%, 68%),
    "background": hsl(56, 40%, 84%),
    "background-light": hsl(53, 30%, 79%),

    "foreground-error": hsl(0, 100%, 97%),
    "foreground-dimmed": hsl(54, 37%, 82%),
    "foreground-light": hsl(33, 10%, 66%),
    "foreground": hsl(56, 40%, 10%),

    "background-reverse": hsl(56, 40%, 10%),
    "foreground-reverse": hsl(56, 40%, 84%)
  ),

  "gb": (
    "background-error": hsl(0, 49%, 31%),
    "background": hsl(67, 33%, 56%),
    "background-light": hsl(67, 27%, 51%),

    "foreground-error": hsl(0, 36%, 83%),
    "foreground-dimmed": hsl(67, 30%, 55%),
    "foreground-light": hsl(117, 13%, 28%),
    "foreground": hsl(197, 20%, 18%),

    "background-reverse": hsl(197, 20%, 18%),
    "foreground-reverse": hsl(67, 33%, 56%)
  )

);

@function built-list-value($theme, $list) {
  $theme-list: map-get($colors, $theme);
  $out: null;

  @for $i from 1 through length($list) {
    $key: nth($list, $i);

    @if map-has-key($theme-list, $key) {
      $key: map-get($theme-list, $key);
    }

    $out: #{$out}#{$key};
  }

  @return $out;
}

@function get-theme-value($theme, $key) {
  @return map-get(map-get($colors, $theme), $key);
}

@mixin themebody($theme, $list, $attributes) {
  @each $attribute, $value in $list {
    @if (type-of($value) == string) {
      #{$attribute}: map-get($attributes, $value);
    } @else if(type-of($value) == list) {
      #{$attribute}: built-list-value($theme, $value);
    }
  }
}

@mixin theme($list, $root: html, $use_parent: true) {
  @each $theme, $attributes in $colors {
    @if $use_parent {
      @at-root #{$root}.#{$theme}-theme & {
        @include themebody($theme, $list, $attributes);
      }
    } @else {
      @at-root #{$root}.#{$theme}-theme {
        @include themebody($theme, $list, $attributes);
      }
    }
  }
}
