doctype html
html
  head
    meta(charset="utf-8")
    title InputSnake
    link(href="css/style.css" rel="stylesheet" type="text/css")
  body
    div(class="game")
    dl
      dt Space
      dd Start/Pause
      dt &utrif;
      dd Up
      dt(style="transform: rotate(90deg);") &utrif;
      dd Right
      dt(style="transform: rotate(180deg);") &utrif;
      dd Down
      dt(style="transform: rotate(270deg);") &utrif;
      dd Left

    script(src="js/main.js" type="module")
